* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Press Start 2P', cursive;
}
.pokedex {
  width: 50%;
  margin-bottom: 1em;
  background-color: #DC0A2D;
  border-radius: 6px;
}
.btn-blue {
  margin-top: 1em;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #DEDEDE;
  background-color: #196A9E;
}

.container-pokeinfo{
margin: 1em;
}

.colors-dots {
  margin-top: 0.5em;
}
.red {
  color: #B00019;
}
.yellow {
  color: #F9E827;
}
.green {
  color: #67C007 ;
}
#pokeInfo {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 300px;
  background-color: #DEDEDE;
  border-radius: 6px;
}
.description {
  opacity: 1;
  padding-top: 1em;
}
#pokeInput {
 
  border: none;
  background-color: #51AE5F;
  border-radius: 6px;
  height: 6em;
  margin-top: 3em;
}
#pokeInput:focus{
  background-color: #51a55f;
}
#btn-search {
  margin-top: 4em;
  color: #dedede;
  height: 3em;
  border-radius: 25px;
  width: 10em;
  border: 3px solid #A18D0F;
  background-color: #072320;
}
.panel {
  
}
/* color segun tipo */
.colorNormal {
  background-color: #D8D8C0;
}
.colorWater {
  background-color: #67D2F1;
}
.colorFire {
  background-color: #F08030;
}
.colorGrass {
  background-color: #78C850;
}
.colorPoison {
  background-color: #927b98;
}
.colorFairy {
  background-color: #F4BDC9;
}
.colorFlying {
  background-color: #C8C0F8;
}
.colorElectric {
  background-color: #F8F878;
}
.colorGround {
  background-color: #b87414;
}
.colorRock {
  background-color: #E0C068;
}
.colorSteel {
  background-color: #D3D3D3;
}
.colorFighting {
  background-color: #F08030;
}
.colorPsychic {
  background-color: #F8C0B0;
}
.colorBug {
  background-color: #A8B820;
}
.colorDragon {
  background-color: #B8A0F8;
}
.colorGhost {
  background-color: #A890F0;
}
.colorIce {
  background-color: #D0F8E8;
}
.colorDark {
  background-color: #A8A878;
}
/* modal */
.modal-content {
  width: 100%;
  font-size: 17px;
  background-color: teal;
  height: auto;
}
.info-modal {
  height: 250px;
}

/* media queries */
@media (max-width: 768px) {
  .pokedex {
    width: 100%;
    text-align: center;
  }
}